* {
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: xx-large;
    text-align: center;
} 

p {
    padding: 28px;
}
html  {
    color : black;
}

div {
    background: #5f5d5d;
    
}
