* {
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: xx-large;
    flex-wrap: wrap;
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 28px;
    margin: auto;
}

html {
    color: black;
}

div {
    background: #737739;
}

title, script {
    display: none;
}