

@media (min-width: 768px) {
    p{
        text-align: center;
    }
    .one {
        padding-top: 30px;
    }
    
    .toww {
        padding-top: 270px;
    }
    .three {
        padding-top: 75px;
    }
    .four {
        padding-top: 75px;
    }

    .six {
        padding-top: 100px;
    }
    .seven {
        padding-top: 100px;
    }
    .eight {
        padding-top: 100px;
    }
    .nine {
        padding-top: 100px;
    }
    .ten {
        padding-top: 60px;
        
    }
  
}

@media (min-width:480px)and (max-width:767px) {
    
    div {
        text-align: center;
    }
    
    div.ten p{
        padding-top: 20px;
    }

    .one {
        padding-top: 20px ;
    }
    .tow {
        padding-top: 50px ;
    }
    .three {
        padding-top: 50px ;
    }
    .four {
        padding-top: 50px ;
    }
    .six {
        padding-top: 100px ;
    }
    .seven {
        padding-top: 100px ;
    }
    .eight {
        padding-top: 100px ;
    }
    .nine {
        padding-top: 100px ;
    }
    .ten {
        
    }

}

/* mobile view  */

body {
  display: flex;
  flex-wrap: wrap;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.one, .tow, .three, .four, .five {
  width: 480px;
}

.one {
  height: 75px;
  background-color: #338bb7;
}

.toww {
  height: 150px;
  background-color: #013b50;
}

.three, .four {
  height: 125px;
}

.three {
  background-color: #61b6c9;
}

.four {
  background-color: #466d5b;
}

#five, #six, #seven, #eight {
  width: 240px;
  height: 250px;
}

#five {
  background-color: #060a0a;
}

#six {
  background-color: #0B3142;
}

#seven {
  background-color: #0F5257;
}

#eight {
  background-color: #86A59C;
}

#nine {
  height: 80px;
  clear: left;
  background-color: #89CE94;
}


/* tablet view */

/* @media (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #content {
    display: flex;
    flex-wrap: wrap;
  }
  .one {
    height: 100px;
    width: 825px;
    background-color: #BDFFFD;
  }
  .tow {
    width: 100;
    height: 200px;
    background-color: #b6e4df;
  }
  .three, .four {
    width: 512px;
    height: 80px;
  }
  .three {
    background-color: #7CFFC4;
  }
  .four {
    background-color: #6ABEA7;
  }
  .five, .six, .seven, .eight, .nine {
    width: 190px;
    height: 250px;
  }
  .five {
    background-color: #4DAA57;
  }
  .six {
    background-color: #B5DDA4;
  }
  .seven {
    background-color: #587D71;
  }
  .eight {
    background-color: #F9ECCC;
  }
  .nine {
    background-color: #A0CFD3;
  }
  .ten {
    width: 760px;
    height: 150px;
    background-color: #306868;
  }
  .one {
    background-color: #660000;
  }
  .tow {
    background-color: #990033;
  }
  .three {
    background-color: #5F021F;
  }
  .four {
    background-color: #8C001A;
  }
  .five {
    background-color: #FF9000;
  }
  .six {
    background-color: #D7CF07;
  }
  .seven {
    background-color: #230007;
  }
  .eight {
    background-color: #161032;
  }
  .nine {
    background-color: #01BAEF;
  }
} */

/* desktop view */
@media (min-width: 769px) {
  body {
    width: 960px;
    margin: auto;
  }
  #content {
    display: flex;
    max-width: 760px;
    max-height: 600px;
  }
  .one {
    height: 100px;
    width: 960px;
    background-color: #BDFFFD;
  }
  .tow {
    width: 200px;
    height: 600px;
    background-color: #b6e4df;
  }
  .three, .four {
    width: 380px;
    height: 200px;
  }
  .three {
    background-color: #7CFFC4;
  }
  .four {
    background-color: #6ABEA7;
  }
  .five, .six, .seven, .eight, .nine {
    width: 190px;
    height: 250px;
  }
  .five {
    background-color: #4DAA57;
  }
  .six {
    background-color: #B5DDA4;
  }
  .seven {
    background-color: #587D71;
  }
  .eight {
    background-color: #F9ECCC;
  }
  .nine {
    background-color: #A0CFD3;
  }
  .ten {
    width: 760px;
    height: 150px;
    background-color: #306868;
  }
}

